

.odstavky-section{
    display: flex;
    justify-content: space-around;
    background-color: 227, 230, 237;
    flex-direction: column;
    
}

.div-odstavka-create{
    display: flex;
    height: 100%;
    position: relative;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
#odTable{
    max-height: 600px !important;
}

.suggestion-item {
    padding: 5px;
    cursor: pointer;
}
.lokalita-sugg{
    position: absolute;
    background: white;
    border: 1px solid rgb(203, 208, 221);
    display: none;
    top: 44px;
    right: 0px;
    z-index: 3;
    width: 214px;
    height: 90px;
    overflow: auto;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}
    
input:focus{
    outline: none;
}
input{
    
    border: none;    
}

.input-FormConteiner.textarea{
    min-width: 95%;
    resize: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0px
}


.fa-solid.fa-solid.fa-magnifying-glass{
    margin-right: 3px;
    padding: 2px;
}

.button{
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 17, 255);
}


.text-button{
    font-style:inherit;
    font-size: larger;
}
.tables{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}


.table-div.odstavkyTable{
    border-radius: 0px;
    padding-top: 40px;
    padding-bottom: 30px;
    width: 100%;
    background-color: white;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.name{
    position: absolute;
    flex-direction: row;
    align-items: baseline;
    display: flex;
    top: 0;
    left:5px;
    flex-wrap: wrap;
}
.legenda{
    margin-left: 5px;
}


table.dataTable thead th,table.dataTable tbody td {
    padding: 0px 30px 0px 5px !important
}
table.dataTable tbody tr{
    border-bottom: 1px inset !important;
    position: relative;
}
.table-div.odstavkyTable.Lokality_Odstavky{
    width: 100%;
}
.table-div.odstavkyTable.end{
    width: 100%;
}
.table-div.import.C.odstavky{
    width: 100%;
    margin-bottom: 0px;
    border-radius: 0px;
    max-height: 750px;

}
.buttondiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sctn.search.odstavkyTable{
    justify-content: space-between;
    padding-bottom: 30px;
}
.menu{
    height: 40px;
    width: 100%;
    border-top: 1px solid #cbd0dd;
    border-bottom: 1px solid #cbd0dd;;
}
.menu-ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-items: center;
    height: 100%;
}
.menu-text{
    font-size: larger;
    padding: 10px;
}
.div-odstavky-table{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 105px;
    margin-top: 30px;

}




