.FormConteiner{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
    flex-direction: column;
}
.FormConteinerDiv{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
}
.FormConteinerDiv div{
    margin: 10px ;
}
.input-FormConteiner{
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}
.logoForm{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.lableFormConteiner{
    font-size: larger;
    font-weight: 700;
    color: black;
}
.h2-div{
    color: black;
    margin-left: 10px;
}
