<div class="conteiner" id="con">
    <div class="tables-row formRow">
        <div class="section big">
            <div class="section small FORMS left" style="flex:7">
                <div class="detail energy"> 
                    <div class="logoForm">
                        <h2 class="h2-div">User detail</Details><i class="fa-solid fa-circle-info fa-lg navB"></i></h2>
                    </div>
                    <div class="infowrapper user">
                        <form>
                            <div class="c1">
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-id-card navA"></i> Uživatelské jméno: </span><p id="uzivatelskeJmeno"></p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-info navA"></i> Stav: </span><p id="stav"></p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-info navA"></i> Nadřízený: </span><p id="nadrizeny"> </p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-building navA"></i> Firma: </span><p id="firma"> </p>
                                </div>
                            </div>
                            <div class="c1">
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-earth-oceania navA"></i> Region: </span><p id="region"> </p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-file-signature navA"></i> Jméno: </span><p id="jmeno"> </p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-file-signature navA"></i> Přijmení: </span><p id="prijmeni"> </p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-phone navA"></i> Tel. číslo: </span><p id="tel"> </p>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
                <div class="detail User">
                    <div class="logoForm">
                        <h2 class="h2-div">Změna hesla <i class="fa-solid fa-lock"></i></h2>
                    </div>
                    <div class="formINFO-D form changepassword">
                        <div>
                            <input type="password" placeholder="aktuální heslo..">
                        </div>
                        <div>
                            <input type="password" placeholder="Nové heslo..">
                        </div>
                        <div>
                            <input type="password" placeholder="Potvrzení nového hesla..">
                        </div>
                        <div style="border:none">
                            <button id="confirmBtn">Ano</button>
                            <button id="cancelBtn">Ne</button>
                        </div>
                    </div>                    
                </div>
                <div class="detail TASK">
                    <div class="logoForm">
                        <h2 class="h2-div">Pohotovost <i class="fa-solid fa-circle-info fa-lg"></i></h2>
                    </div>
                    <div class="formINFO-D form">
                        <div style="border: none;">
                            <p id="popis"></p>
                        </div>

                    </div>                    
                </div>
            </div>
            <div class="section small FORMS right" style="flex:3" >
                <div class="detail diesel">
                    <div class="logoForm">
                        <h2 class="h2-div">Detail Dieslovani <i class="fa-solid fa-circle-info fa-lg"></i></h2>
                    </div>
                    <div class="formINFO-D info">
                        <div>
                            <img src="/Images/Profil-User.jpg" style="max-width: 200px; height: auto;">
                        </div>
                    </div>
                </div>
                <div class="detail Stav">
                    <div class="logoForm">
                        <h2 class="h2-div">Role <i class="fa-regular fa-circle-user fa-lg"></i></h2>
                    </div>
                    <div class="formINFO-D form">
                        <div style="border: none;">
                            <p id="role" style="font-weight: 800;"></p>
                        </div>
                    </div>    
                                       
                </div>
            </div>                
        </div>   
    </div>

    <div class="tables-row">
        <div class="section big">
            <div class="section small"> 
                <div class="nav-FRG">
                        <p id="vazby">VAZBY</p>
                    </div>
                <div style="display: none;" id="content-log"></div>
                <div class="table-div odstavkyTable" id="content-vazby">
                    
                </div>
            </div>
        </div>
            
        
    </div>
</div>