@{
    ViewData["Title"] = "Regiony Page";
}
<body>

    <div class="conteiner" id="con">
        <div class="tables-row">
            <div class="section big">
                <div class="section small"> 
                    <div class="FormConteiner" id="PrahaStredniCehy">
                        <div class="logoForm">
                            <h2 class="h2-div" style="padding-right:20px; color: black;">Praha+ Střední Čechy<i class="fa-solid fa-earth-asia navB"></i></h2>
                        </div>
                        <div class="FormConteinerDiv">
                            <div class="formINFO-D Register">
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-building navA"></i>Firma:</span><p id="psc-firma"> </p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-bolt navA"></i>Distributor: </span><p id="psc-distributor"> </p>
                                </div>                
                            </div>
                            <div class="formINFO-D Register">
                        
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-list-ol navA"></i>Počet Odstávek: </span><p id="psc-pocet-odstavek"> </p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-list-ol navA"></i>Počet Lokalit: </span><p id="psc-pocet-lokalit"> </p>
                                </div>
                                
                            </div>
                            <div id="psc-technici" class="formINFO-D Register"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tables-row">
            <div class="section big">
                <div class="section small"> 
                    <div class="FormConteiner" id="JizniMorava">
                        <div class="logoForm">
                            <h2 class="h2-div" style="padding-right:20px; color: black;">Jižní Morava<i class="fa-solid fa-earth-asia navB"></i></h2>
                        </div>
                        <div class="FormConteinerDiv">
                            <div class="formINFO-D Register">
                            
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-building navA"></i>Firma: </span><p id="jm-firma"> </p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Distributor: </span><p id="jm-distributor"> </p>
                                </div>
                            
                            </div>
                            <div class="formINFO-D Register">
                        
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Odstávek: </span><p id="jm-pocet-odstavek"> </p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Lokalit: </span><p id="jm-pocet-lokalit"> </p>
                                </div>
                                
                            </div>
                            <div id="jm-technici" class="formINFO-D Register"></div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="tables-row">
            <div class="section big">
                <div class="section small"> 
                    <div class="FormConteiner" id="SeverniMorava">
                        <div class="logoForm">
                            <h2 class="h2-div" style="padding-right:20px; color: black;">Severní Morava<i class="fa-solid fa-earth-asia navB"></i></h2>
                        </div>
                        <div class="FormConteinerDiv">
                            <div class="formINFO-D Register">
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-building navA"></i>Firma:</span><p id="sm-firma"> </p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Distributor:</span><p id="sm-distributor"> </p>
                                </div>
                            
                            </div>
                            <div class="formINFO-D Register">
                        
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Odstávek:</span><p id="sm-pocet-odstavek"> </p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Lokalit:</span><p id="sm-pocet-lokalit"> </p>
                                </div>
                                
                            </div>
                            <div id="sm-technici" class="formINFO-D Register"></div>

                        </div>
                        
                    </div>
                </div>
            </div>      
        </div>
        <div class="tables-row">
            <div class="section big">
                <div class="section small"> 
                    <div class="FormConteiner" id="JizniCechy">
                        <div class="logoForm">
                            <h2 class="h2-div" style="padding-right:20px; color: black;">Jižní Čechy<i class="fa-solid fa-earth-asia navB"></i></h2>
                        </div>
                        <div class="FormConteinerDiv">
                            <div class="formINFO-D Register">
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-building navA"></i> Firma:</span><p id="jc-firma"> </p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Distributor:</span><p id="jc-distributor"> </p>
                                </div>
                            
                            </div>
                            <div class="formINFO-D Register">
                        
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Odstávek:</span><p id="jc-pocet-odstavek"> </p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Lokalit:</span><p id="jc-pocet-lokalit"> </p>
                                </div>
                                
                            </div>
                            <div id="jc-technici" class="formINFO-D Register"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tables-row">
            <div class="section big">
                <div class="section small"> 
                    <div class="FormConteiner" id="SeverniCehy">
                        <div class="logoForm">
                            <h2 class="h2-div" style="padding-right:20px; color: black;">Severní Čechy<i class="fa-solid fa-earth-asia navB"></i></h2>
                        </div>
                        <div class="FormConteinerDiv">
                            <div class="formINFO-D Register">
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-building navA"></i>Firma:</span><p id="sc-firma"> </p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Distributor:</span><p id="sc-distributor"> </p>
                                </div>
                            </div>
                            <div class="formINFO-D Register">
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Odstávek:</span><p id="sc-pocet-odstavek"> </p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Lokalit:</span><p id="sc-pocet-lokalit"> </p>
                                </div>
                            </div>
                            <div id="sc-technici" class="formINFO-D Register"></div>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
        <div class="tables-row" style="margin-bottom: 20px;">
            <div class="section big">
                <div class="section small"> 
                    <div class="FormConteiner" id="ZapadniCechy">
                        <div class="logoForm">
                            <h2 class="h2-div" style="padding-right:20px; color: black;">Západní Čechy<i class="fa-solid fa-earth-asia navB"></i></h2>
                        </div>
                        <div class="FormConteinerDiv">
                            <div class="formINFO-D Register">
                            
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-building navA"></i>Firma:</span><p id="zc-firma"> </p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Distributor:</span><p id="zc-distributor"> </p>
                                </div>
                            
                            </div>
                            <div class="formINFO-D Register">
                        
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Odstávek:</span><p id="zc-pocet-odstavek"> </p>
                                </div>
                                <div>
                                    <span class="Infowrapperspan"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Lokalit:</span><p id="zc-pocet-lokalit"> </p>
                                </div>
                                
                            </div>
                            <div id="zc-technici" class="formINFO-D Register"></div>
                        </div>
                        
                    </div>
                </div>
            </div>    
        
        </div>
            
    </div>
</body>