
<body>
    <div class="conteiner" id="con">
        <div class="tables-row">
            <div class="section big">
                <div class="section small">
                    <div class="table-div odstavkyTable">
                        <div class="name">
                            <h2 style="padding-right:20px; color: black;">Lokality <i class="fa-solid fa-tower-cell"></i></h2>
                        </div>
                        <table id="lokalityTable" style="margin-bottom: 15px;">
                            <thead>
                                <tr>
                                
                                    <th>Lokalita</th>
                                    <th>Klasifikace</th>
                                    <th>Adresa</th>
                                    <th>Region</th>
                                    <th>Baterie<a> [min]</a></th>
                                    <th>Zásuvka</th>
                                    <th>DA</th>
                                    <th>Zdroj</th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
        </div> 

    </div>
      
        

       
    


   

   
</body>